.top-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 100px;
    z-index: 100;
}

a:link {
    color: black;
    font-style: normal;
}

a:hover {
    color: rgb(120, 0, 0);
}

a:visited {
    color: rgb(120  , 0, 0);
}

body {
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 100px;
}

.logo-black {
    height: 60px;
}

.one-black {
    height: 30px;
    
}

.two-black {
    height: 30px;
}

.number-spacer {
    width: 30px;
}

.main-img {
    width: 500px;
}

.car-neon {
    height: 20px;
}

.mode-box {
    flex: 1;
    min-width: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 40px;
    margin-top: 15px;
    font-size: 20px;
}

.dark-mode-box {
    flex: 1;
    min-width: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 40px;
    margin-top: 15px;
    font-size: 20px;
    color: white;
}

.spacer-box {
    flex: 1;
}

.info-box {
    display: flex;
    flex: 2;
    justify-content: space-between;
    min-width: 200px;
}

.contact-box {
    display: flex;
    flex: 1;
    min-width: 100px;
}
.about-logo {
    height: 40px;
}

.index-logo {
    height: 40px;
}

.index-box {
    flex: 1;
}

.about-box {
    flex: 1;
    margin-left: 60px;
    margin-right: 20px;
}

.container {
    display: flex;
    object-fit: contain;
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around
    padding-top: 20px;
    left: 0;
    right: 0;
}

.left-box {
    display: flex;
    flex: 1;
    object-fit: contain;


}

.tea-left-box {
    max-width: 450px;
    min-width: 300px;
    object-fit: contain;

}

.pei-left-box {
    flex: 1;   
    padding-right: 20px;
}

.middle-box {
    display: flex;
    object-fit: contain;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 2000px;
}

.middle-box img {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    height: auto;
}

.right-box {
    display: flex;
    object-fit: contain;
    flex: 1;
    text-align: right;
    font-size: 17px;

}

.lula-right-box {
    flex: 2;
    text-align: right;
    max-width: 450px;
    min-width: 300px;
}

.white-text {
    flex: 2;
    text-align: right;
    font-size: 17px;
    color: white;
    max-width: 450px;
    min-width: 300px;

}

.sml-right-box {
    flex: 0.2;
}

.home-content {
    margin-top: 100px;
}

.dwf_landscape_bed {
    object-fit: contain;
    max-width: 650px;
    width: auto;
}

.dwf-double {
    max-width: 1200px;
    width: auto;
    padding: 10px;
}

.home-image {
    object-fit: contain;
    max-height: 800px;
    width: auto;
    padding: 10px;
}

.sml-home-image {
    object-fit: contain;
    max-height: 400px;
    width: auto;
    margin-right: 20px;
}

.pp-roses {
    object-fit: contain;
    max-width: 500px;
    width: auto;
}

.uppers-cover {
    object-fit: contain;
    object-position: top;
    max-width: 300px;
    padding: 15px;
    padding-left: 15px;
    width: auto;
}

.gloved-image-10 {
    object-fit: contain;
    max-width: 500px;
    width: auto;

}

.sml-uppers-image {
    height: 400px;
    margin-right: 50px;
}

.uppers-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: roboto, ariel
}

.box-container {
    z-index: 10;
}

.bg-img {
    width: 100%;
    z-index: 1;
}

.summer-container {
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   padding-top: 40px;
   left: 0;
   right: 0;
}
.summer-left-image {
    flex: 1;
    height: 350px;
}

.summer-left-box {
    margin-right: 40px;

}

.iel-right-box {
    margin-top: 100px;
}

.dwf_press_card {
    object-fit: contain;
    max-width: 450px;
    width: auto;
}

.iel-img {
    object-fit: contain;
    max-width: 550px;
    width: auto;
}

.yellow-darcey-box {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.darcey-yellow-image {
    object-fit: contain;
    max-width: 400px;
    width: 100%;
}

.dwf-knit-door {
    object-fit: contain;
    max-width: 300px;
    width: auto;
    padding-left: 300px;
}

/* QUOTE */

.tea-container {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   margin-top: 70px;
   padding-top: 20px;
   padding-left: 30px;
   left: 0;
   right: 0;
   margin-left: 25px;
}

.dark-tea-container {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   margin-top: 70px;
   padding-top: 20px;
   left: 0;
   right: 0;
   margin-left: 25px;
   color: white;
}

.quote-container {
    display: flex;
    margin-top: 40px;
    font-family: didot;
}

.pei-red {
    object-fit: contain;
    max-width: 550px;
    width: auto;
}

.summer-stones {
    object-fit: contain;
    max-width: 350px;
    width: auto;
    padding: 10px;
    padding-top: 50px;
}

.towel-window {
    object-fit: contain;
    width: 300px;
    padding: 20px;
    padding-left: 40px;
}

.fiorucci-milan-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.fiorucci-milan-bw {
    object-fit: contain;
    max-height: 800px;
    width: auto;
    padding: 10px;
    padding-bottom: 30px;
}

.aa-light {
    object-fit: contain;
    max-width: 450px;
    width: auto;
}

.quote-div-left {
    flex: 2;
}

.quote-div-right {
    flex: 3;
}

.fiorucci-bottom-image {
    height: 600px;

}

.fiorucci-triple {
    object-fit: contain;
    max-width: 900px;
    width: auto;
}

/* ABOUT PAGE SECTION */

.about-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 900px;
}

.about-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;

}

.about-left-box {
    flex: 1;

}

.about-right-box {
    flex: 1;
}

.top-about-spacer {
    flex: 2;
    text-align: center;
    font-family: didot
}

.mail-to-box {
    flex: 0.2;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}

.ig-box {
    flex: 1;
    text-align: center;
    color: black;
}

.about-content {
    flex: 1s;
    color: black;
    
}

.bottom-about-spacer {
    flex: 1;
}

.about-content-img {
    height: 350px;
}

.arnaldo-container {
    display: flex;
    flex-direction: column;
}

.arnaldo-top {
    flex: 0.5;
}

.arnaldo-bottom {
    flex: 1;
}
